<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>#template#</title>
	<meta name="viewport"
		  content="viewport-fit=cover,width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
    <link rel="icon" href="#pathprefix#assets/res/img/icon-favicon.png">
	<link rel="stylesheet" href="#pathprefix#assets/shared/style/reset.css">
	<link rel="stylesheet" href="#pathprefix#assets/shared/style/site.css">
	<link rel="stylesheet" href="#pathprefix#assets/css/#template#.css">
	<script src="#pathprefix#assets/public/cmpt3rd/jquery/jquery.min.js"></script>
	<script src="#pathprefix#assets/shared/js/commons.js"></script>
	<script src="#pathprefix#assets/js/#template#.js"></script>
</head>

<body>
<h1>Hello World,#template#</h1>
</body>

</html>
