<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>#template#</title>
  <meta name="viewport"
        content="viewport-fit=cover,width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta name="Pragma" content="no-cache">
  <meta name="Expires" content="0">
  <link rel="stylesheet" href="#pathprefix#<%=assets%>/shared/style/reset.css">
  <link rel="stylesheet" href="#pathprefix#<%=assets%>/shared/style/site.css">
  <link rel="stylesheet" href="#pathprefix#<%=css%>/#template#.css">
  <script src="#pathprefix#<%=public%>/cmpt3rd/jquery/jquery.min.js"></script>
  <script src="#pathprefix#<%=assets%>/shared/js/commons.js"></script>
  <script src="#pathprefix#<%=js%>/#template#.js"></script>
</head>

<body>
<h1>Hello World,#template#</h1>
</body>

</html>
