
// colors Maps
$colors : (
		"black":#000,
		"dark":#222,
		"text":#393d41,
		"white":#fff
);


$borderType : (
		border-a:border,
		border-l:border-left,
		border-r:border-right,
		border-t:border-top,
		border-b:border-bottom
);

// font size Maps
$fontSize : (
		60:6.0rem,
		40:4.0rem,
		36:3.6rem,
		32:3.2rem,
		28:2.8rem,
		24:2.4rem,
		20:2.0rem,
		18:1.8rem,
		16:1.6rem,
		14:1.4rem,
		12:1.2rem,
		10:1.0rem,
		header:1.8rem,
		title:1.6rem,
		text:1.4rem,
		sub:1.2rem,
		min:1.0rem
);


// space Size Maps
$spaceSize : (
		200:20.0rem,
		150:15.0rem,
		120:12.0rem,
		100:10.0rem,
		80:8.0rem,
		50:5.0rem,
		30:3.0rem,
		20:2.0rem,
		15:1.5rem,
		10:1.0rem,
		5:.5rem,
		2:.2rem
);
$spaceType : (
		p-a:padding,
		p-l:padding-left,
		p-r:padding-right,
		p-t:padding-top,
		p-b:padding-bottom,
		m-a:margin,
		m-l:margin-left,
		m-r:margin-right,
		m-t:margin-top,
		m-b:margin-bottom
);



// layout Maps
$layoutType : (
		w:width,
		w-max:max-width,
		w-min:min-width,
		h:height,
		h-max:max-height,
		h-min:min-height,
		line-h:line-height
);
